<footer class="footer">
    <div class="container">
        <div class="footer-mailing">
            <div class="h-mailing">Узнай о новостях первым!</div>
            <div class="input-mailing">
                <input type="text">
                <a href="#" class="btn-mailing">ПОДПИСАТЬСЯ</a>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-logo">
                <a href="#" class="logo">
                    <img src="img/logo.svg" alt="">
                </a>
                <div class="copyright">
                    © 2019 O-TICKET
                </div>
            </div>
            <div class="footer-nav">
                <div class="nav-list">
                    <div class="h-nav">О нас</div>
                    <div class="nav-body">
                        <a href="#" class="nav-item">Связаться с нами</a>
                        <a href="#" class="nav-item">Контакты</a>
                    </div>
                </div>
                <div class="nav-list">
                    <div class="h-nav">Клиентам</div>
                    <div class="nav-body">
                        <a href="#" class="nav-item">Как купить билет</a>
                        <a href="#" class="nav-item">Возврат билетов</a>
                    </div>
                </div>
                <div class="nav-list">
                    <div class="h-nav">Партнерам</div>
                    <div class="nav-body">
                        <a href="#" class="nav-item">Сотрудничество</a>
                        <a href="#" class="nav-item">Реклама на сайте</a>
                        <a href="#" class="nav-item">Регистрация</a>
                        <a href="#" class="nav-item">Вход</a>
                    </div>
                </div> 
            </div>
            <div class="footer-social">
                <div class="social-list">
                    <a href="#" class="social-item">
                        <i class="icon-o-ticket-telegram"></i>
                    </a>
                    <a href="#" class="social-item">
                        <i class="icon-o-ticket-icon-fb-default"></i>
                    </a>
                    <a href="#" class="social-item">
                        <i class="icon-o-ticket-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<form id="login-form" class="mfp-hide white-popup small">
    <div class="popup-h">Вход</div>
    <div class="popup-body">
        <div class="auth-social">
            <a href="#" class="btn btn-facebook">
                Вход через Facebook 
            </a>
            <a href="#" class="btn btn-google">
                Вход через Google 
            </a>
        </div>
        <div class="auth-site">
            <div class="input-wrapp">
                <div class="input-item">
                    <input type="text" class="input error" placeholder="E-mail">
                    <div class="text-error">Lorem ipsum dolor sit amet.</div>
                </div>
                <div class="input-item">
                    <input type="password" class="input" placeholder="Пароль">
                </div>
            </div>
            <div class="remember-password">
                <a href="#remember-form" class="popup-remember">Забыли пароль?</a>
            </div>
        </div>
        <div class="button-wrapp">
            <a href="#" class="btn btn-green btn-normal">Войти</a>
            <a href="#register-form" class="link popup-register">Зарегестрироваться</a>
        </div>
    </div>
</form>

<form id="register-form" class="mfp-hide white-popup small">
    <div class="popup-h">Регистрация</div>
    <div class="popup-body">
        <div class="auth-social">
            <a href="#" class="btn btn-facebook">
                Вход через Facebook 
            </a>
            <a href="#" class="btn btn-google">
                Вход через Google 
            </a>
        </div>
        <div class="auth-site">
            <div class="input-wrapp">
                <div class="input-item">
                    <input type="text" class="input" placeholder="Имя">
                </div>
                <div class="input-item">
                    <input type="text" class="input" placeholder="Фамилия">
                </div>
                <div class="input-item">
                    <input type="text" class="input" placeholder="E-mail">
                </div>
                <div class="input-item">
                    <input type="password" class="input" placeholder="Пароль">
                </div>
                <div class="input-item">
                    <input type="password" class="input" placeholder="Повторите пароль">
                </div>
            </div>
        </div>
        <div class="button-wrapp">
            <a href="#" class="btn btn-green btn-normal">Зарегестрироваться</a>
        </div>
        <div class="register-info">
                Нажимая кнопку “зарегестрироваться” я соглашаюсь с правилами 
                конфеденциальности и принимаю условия о пользовании
        </div>
    </div>
</form>

<form id="remember-form" class="mfp-hide white-popup small">
    <div class="popup-h">Восстановление пароля</div>
    <div class="popup-body">
        <div class="remember-info">
            Введите адрес электронной почты, на которую зарегестрирован ваш аккаунт.
        </div>
        <div class="auth-site">
            <div class="input-wrapp">
                <div class="input-item">
                    <input type="text" class="input" placeholder="E-mail">
                </div>
            </div>
        </div>
        <div class="button-wrapp">
            <a href="#" class="btn btn-green btn-normal">Воccтановить</a>
        </div>
    </div>
</form>

<form id="location-form" class="mfp-hide white-popup normal">
    <div class="popup-h">ВЫБЕРИТЕ ГОРОД</div>
    <div class="popup-body">
        <div class="location-list">
            <div class="location-col">
                <div class="location-item">
                    <a href="#" class="active">Все города</a>
                </div>
                <div class="location-item">
                    <a href="#">Киев</a>
                </div>
                <div class="location-item">
                    <a href="#">Одесса</a>
                </div>
                <div class="location-item">
                    <a href="#">Каменец-Подольский</a>
                </div>
                <div class="location-item">
                    <a href="#">Харьков</a>
                </div>
                <div class="location-item">
                    <a href="#">Днепр</a>
                </div>
                <div class="location-item">
                    <a href="#">Львов</a>
                </div>
                <div class="location-item">
                    <a href="#">Винница</a>
                </div>
                <div class="location-item">
                    <a href="#">Мариуполь</a>
                </div>
            </div>
            <div class="location-col">
                <div class="location-item">
                    <a href="#">Все города</a>
                </div>
                <div class="location-item">
                    <a href="#">Киев</a>
                </div>
                <div class="location-item">
                    <a href="#">Одесса</a>
                </div>
                <div class="location-item">
                    <a href="#">Каменец-Подольский</a>
                </div>
                <div class="location-item">
                    <a href="#">Харьков</a>
                </div>
                <div class="location-item">
                    <a href="#">Днепр</a>
                </div>
                <div class="location-item">
                    <a href="#">Львов</a>
                </div>
                <div class="location-item">
                    <a href="#">Винница</a>
                </div>
                <div class="location-item">
                    <a href="#">Мариуполь</a>
                </div>
            </div>
            <div class="location-col">
                <div class="location-item">
                    <a href="#">Все города</a>
                </div>
                <div class="location-item">
                    <a href="#">Киев</a>
                </div>
                <div class="location-item">
                    <a href="#">Одесса</a>
                </div>
                <div class="location-item">
                    <a href="#">Каменец-Подольский</a>
                </div>
                <div class="location-item">
                    <a href="#">Харьков</a>
                </div>
                <div class="location-item">
                    <a href="#">Днепр</a>
                </div>
                <div class="location-item">
                    <a href="#">Львов</a>
                </div>
                <div class="location-item">
                    <a href="#">Винница</a>
                </div>
                <div class="location-item">
                    <a href="#">Мариуполь</a>
                </div>
            </div>
            <div class="location-col">
                <div class="location-item">
                    <a href="#">Все города</a>
                </div>
                <div class="location-item">
                    <a href="#">Киев</a>
                </div>
                <div class="location-item">
                    <a href="#">Одесса</a>
                </div>
                <div class="location-item">
                    <a href="#">Каменец-Подольский</a>
                </div>
                <div class="location-item">
                    <a href="#">Харьков</a>
                </div>
            </div>
        </div>
    </div>
</form>