/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
  Helper classes
  ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* This stylesheet generated by Transfonter (https://transfonter.org) on July 4, 2017 2:35 AM */

@font-face {
  font-family: 'PFDinTextCondPro';
  font-style: normal;
  font-weight: normal;
  src: local('PFDinTextCondPro-Regular'), url('../fonts/PFDinTextCondPro-Regular.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'PFDinTextCondPro';
  font-style: normal;
  font-weight: 900;
  src: local('PFDinTextCondPro-Bold'), url('../fonts/PFDinTextCondPro-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'PFDinTextCondPro';
    src: url('DINPro-CondensedBold.eot');
    src: local('DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
      url('../fonts/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINPro-CondensedBold.woff') format('woff'),
      url('../fonts/DINPro-CondensedBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic');

@import "../../../bower_components/susy/sass/susy";

$susy: (
        flow: ltr,
        math: fluid,
        output: float,
        gutter-position: split,
        container: 1170px,
        container-position: center,
        columns: 12,
        gutters: 0,
        column-width: false,
        global-box-sizing: border-box,
        last-flow: to
);

* {
  box-sizing: border-box;
}

body {
  background: #fff url(../img/bg-white.png);
  font-family: 'PFDinTextCondPro';
  font-size: 16px;
  letter-spacing: 0.03em;
  padding-top: 82px;
  min-width: 375px;
}

.container {
  @include container();
  padding: 0 30px;

  @media screen and(max-width: 767px) {
    padding: 0 15px;
  }
}

.btn {
  display: inline-block;
  height: 48px;
  line-height: 44px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding: 0 36px;
  font-weight: 700;
  transition: .3s all;
  border: none;
  outline: none;
  text-align: center;
  border: 2px solid transparent;

  @media screen and(max-width: 767px) {
    padding: 0 30px;
  }

  .arrow {
    margin: 0 12px;
  }

  &.btn-pink {
    color: #fff;
    background: #D9017A;

    &:hover {
      background: transparent;
      border-color: #D9017A;
    }

    &.text-black {
      
      &:hover {
        color: #000;
      }
    }
  }

  &.btn-border {
    color: #fff;
    background: transparent;
    border-color: #fff;

    &:hover {
      background: #D9017A;
      border-color: #D9017A;
    }

    &.text-black {
      
      &:hover {
        color: #000;
      }
    }
  }

  &.btn-white {
    background: #fff;

    &:hover {
      background: transparent;
      border-color: #fff;
    }

    &:hover svg{
      fill: #fff;
    }

    &.text-black {
      
      &:hover {
        color: #000;
      }
    }
  }

  &.btn-circle {
    padding: 0;
    border-radius: 50%;
    width: 48px;
    line-height: 43px;
  }
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.header {
  background: #000 url(../img/bg-header.png);
  padding: 14px 0;
  position: relative;
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  height: 82.4px;
  top: 0;

  &:after {
    @extend .clearfix;
  }

  .header-logo {
    @include span(2 of 12);
  }


  .header-nav {
    @include span(10 of 12);

    &:after {
      @extend .clearfix;
    }

    @media screen and(max-width: 992px) {
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      right: 0;
      background: #000;
      padding: 20px 0;
      display: none;
    }

    &.open {
      @media screen and(max-width: 992px) {
        display: block;
      }
    }
  }

  .nav-list {
    float: left;


    @media screen and(max-width: 992px) {
      display: block;
      width: 100%;
      float: none;
      text-align: center;
      padding-left: 0;
    }

    .nav-item {
      display: inline-block;

      @media screen and(max-width: 992px) {
        display: block;
        margin-bottom: 20px;
      }

      &.active {

        a {
          color: #F61193;

          &:after {
            content: '';
            position: absolute;
            top: 100%;
            width: 100%;
            height: 2px;
            background: #F61193;
            left: 0;
            margin-top: 3px;
            font-weight: 700;
          }
        }
      }

      a {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        transition: .3s all;
        margin: 0 23px;

        &:hover {
          color: #F61193;
        }
      }
    }
  }

  .social {
    float: right;
    line-height: 48px;

    @media screen and(max-width: 992px) {
      display: block;
      float: none;
      text-align: center;
    }

    .social-item {
      margin: 0 12px;
      transition: .3s all;
      
      &:hover {
        opacity: 0.8;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .button-wrapp {
    float: right;
    padding: 3px 0;
    margin-left: 40px;

    @media screen and(max-width: 992px) {
      display: block;
      float: none;
      margin-left: 0;
      text-align: center;
      margin-top: 40px;
    }
  }
}

.section-main {
  min-height: 990px;
  background: #121212;
  position: relative;
  padding: 1px;
  padding-bottom: 52px;

  @media screen and(max-width: 767px) {
    min-height: 700px;
  }

  .img-glitch {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 990px;
    width: 1440px;
    overflow: hidden;

    @media screen and(max-width: 767px) {
      display: none;
    }

    .glitch {
      background: url(../img/bg-main.png) no-repeat 50% 50%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      position: absolute;
    }

  }

  .main-description {
    position: relative;
    z-index: 10;
    margin-top: 127px;

    @media screen and(max-width: 767px) {
      margin-top: 80px;
    }

    .logo-large {
      margin-bottom: 59px;

      img {
        width: 100%;
        max-width: 325px;
        margin-left: -24px;
      }
    }

    .btn {
      margin: 0 8px;

      @media screen and(max-width: 767px) {
        margin: 0 5px;
      }

      &:first-child {
        margin-left: 0;
        margin-right: 30px;

        @media screen and(max-width: 767px) {
          margin-right: 5px;
        }
      }
    }
  }
}

.section-grey {
  min-height: 52px;
  margin-bottom: 52px;
  position: relative;
  background: url(../img/bg-grey.png);
  padding: 1px;
  padding-bottom: 40px;

  &:after {
    content: '';
    position: absolute;
    background: url(../img/grey-top.png) no-repeat 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    height: 52px;
    left: 0;
    bottom: 100%;

  }

  &:before {
    content: '';
    position: absolute;
    background: url(../img/grey-bottom.png) no-repeat 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    height: 52px;
    left: 0;
    top: 100%;
  }

  &.top {
    margin-bottom: 0;

    &:before {
      display: none;
    }
  }

  &.bottom {
    margin-top: 0;

    &:after {
      display: none;
    }
  }
}

.section-pink {
  min-height: 52px;
  margin-bottom: 52px;
  margin-top: 52px;
  position: relative;
  background: url(../img/bg-pink.png);
  padding: 1px;

  &:after {
    content: '';
    position: absolute;
    background: url(../img/pink-top.png) no-repeat 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    height: 52px;
    left: 0;
    bottom: 100%;

  }

  &:before {
    content: '';
    position: absolute;
    background: url(../img/pink-bottom.png) no-repeat 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    height: 52px;
    left: 0;
    top: 100%;
  }

  &.top {
    margin-bottom: 0;

    &:before {
      display: none;
    }
  }

  &.bottom {
    margin-top: 0;

    &:after {
      display: none;
    }
  }
}

.section-black {
  min-height: 52px;
  margin-bottom: 52px;
  position: relative;
  background: url(../img/bg-black.png);
  padding: 1px;
  padding-bottom: 40px;

  &.noise {
    background: url(../img/bg-shym.png) 50% 50% no-repeat, url(../img/bg-black.png);
  }

  &:after {
    content: '';
    position: absolute;
    background: url(../img/black-top.png) no-repeat 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    height: 52px;
    left: 0;
    bottom: 100%;

  }

  &:before {
    content: '';
    position: absolute;
    background: url(../img/black-bottom.png) no-repeat 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    height: 52px;
    left: 0;
    top: 100%;
  }

  &.top {
    margin-bottom: 0;

    &:before {
      display: none;
    }
  }

  &.bottom {
    margin-top: 0;

    &:after {
      display: none;
    }
  }
}

.section-videos {

  .main-video {
    position: relative;
    z-index: 2;
    border: 3px solid #fff;
    margin-top: -320px;

    @media screen and(max-width: 767px) {
      margin-top: -150px;
    }
  }

  .video-list {
    margin: 0 -15px;
    margin-top: 30px;
    position: relative;
    z-index: 4;

    &:after {
      @extend .clearfix;
    }
  }

  .video-item {
    @include span(4 of 12);
    padding: 0 15px;
    margin-bottom: 30px;

    @media screen and(max-width: 767px) {
      @include span(12 of 12);
    }

    .name {
      font-size: 22px;
      font-weight: 400;
      margin-top: 18px;
      line-height: 100%;
    }

    .date {
      color: rgba(0, 0, 0, 0.3);
      font-size: 22px;
      line-height: 100%;
      margin-top: 7px;
    }
  }

  .button-wrapp {
    text-align: center;
    margin-top: 35px;
  }
}

.section-social {

  &_mini {
    text-align: center;
    padding: 50px 0;

    .h-social_mini {
      color: #fff;
      font-size: 22px;
      font-weight: 400;
    }

    .buttons-wrapp {
      margin-top: 20px;
    }

    .btn {
      margin: 0 10px;
    }
  }

  &_large {
    padding: 85px 0 80px;
    text-align: center;

    .h-social_mini {
      color: #fff;
      font-size: 28px;
      font-weight: 400;
    }

    .buttons-wrapp {
      margin-top: 40px;
    }

    .btn {
      margin: 0 10px;
    }

    &.section-black {
      .h2-main {
        color: #D9017A;
      }
    }
  }
}

.section-event {
  padding: 90px 0 70px;
  text-align: center;

  .h-main {
    color: #F61193;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      height: 114px;
      width: 1050px;
      background: url(../img/how.svg) no-repeat 50% 50%;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .step-list {
    
    margin: 0 -30px;
    margin-top: 65px;

    @media screen and(max-width: 992px) {
      margin: 0 -15px;
      margin-top: 65px;
    }

    &:after {
      @extend .clearfix;
    }
  }

  .step-item {
    @include span(3 of 12);
    text-align: center;
    padding: 0 30px;

    &:first-child {
      @include push(1.5 of 12);

      @media screen and(max-width: 992px) {
        @include push(0);
      }
    }

    @media screen and(max-width: 992px) {
      @include span(4 of 12);
      padding: 0 15px;
    }

    @media screen and(max-width: 767px) {
      @include span(12);
      margin-bottom: 45px;
    }
  }

  .icon {
    height: 64px;
    width: 64px;
    display: inline-block;
    text-align: center;
    line-height: 62px;
    background: #D9017A;
    border-radius: 50%;
    margin-bottom: 16px;
  }

  .text {
    color: #fff;
    font-size: 18px;
    line-height: 145%;
    min-height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    span {
      color: #D9017A;
    }
  }

  .btn {
    width: 100%;
  }

  .more-info {
    display: inline-block;
    max-width: 761px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 65px;
    line-height: 140.62%;

    @media screen and(max-width: 767px) {
      margin-top: 0;
    }
  }
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
  overflow: hidden;
  
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.page-name {
  color: #D9017A;
  text-align: center;
  text-transform: uppercase;
  font-size: 74px;
  line-height: 89px;
  font-weight: 900;
  background: #000;
  padding: 30px 0;

  @media screen and(max-width: 767px) {
    font-size: 42px;
    line-height: 60px;
  }

  &.white {
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-transform: none;
    color: #FFFFFF;
    padding: 50px 0;

    @media screen and(max-width: 767px) {
      font-size: 36px;
      padding: 35px 0;
    }
  }
}

.h-main {
  font-size: 74px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  line-height: 89px;
  margin-bottom: 25px;

  @media screen and(max-width: 992px) {
    font-size: 56px;
    line-height: 64px;
  }

  @media screen and(max-width: 767px) {
    font-size: 28px;
    line-height: 38px;
  }

  &.h-pink {
    color: #D9017A;
  }
}

.h2-main {
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  margin-bottom: 45px;

  @media screen and(max-width: 767px) {
    font-size: 28px;
    line-height: 38px;
  }
}

.p-main {
  font-size: 18px;
  line-height: 140.62%;
  text-align: center;

  &.p-black {
    color: rgba(0, 0, 0, 0.5);
  }
}

.link-product {
  position: fixed;
  z-index: 999;
  right: 40px;
  bottom: 40px;
  transition: .3s all;

  &:hover {
    transform: scale(1.1);
  }
}

.section-fighter {
  padding-top: 105px;
  padding-bottom: 90px;

  @media screen and(max-width: 767px) {
    padding-top: 70px;
  }

  .fighter-info {
    margin: 0 -15px;
    
    &:after {
      @extend .clearfix;
    }
  }

  .fighter-photo {
    @include span(4 of 12);
    padding: 0 15px;
    text-align: center;

    @media screen and(max-width: 767px) {
      @include span(12 of 12);
      text-align: center;
      margin-bottom: 20px;
    }

    img {
      max-width: 100%;
    }
  }

  .fighter-text {
    @include span(8 of 12);
    padding: 0 15px;
    padding-top: 35px;

    @media screen and(max-width: 767px) {
      @include span(12 of 12);
    }

    .head {
      margin-bottom: 10px;
      &:after {
        @extend .clearfix;
      }
    }

    @media screen and(max-width: 992px) {
      padding-top: 0;
    }

    .name {
      float: left;
      font-weight: 900;
      font-size: 36px;
      line-height: 134.77%;
      /* or 49px */
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #D9017A;
    }

    .category {
      float: right;
      font-weight: bold;
      font-size: 16px;
      /* or 22px */
      line-height: 49px;
      text-align: right;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      @media screen and(max-width: 992px) {
        font-size: 14px;
      }

      @media screen and(max-width: 767px) {
        width: 100%;
        text-align: left;
      }

      color: #FFFFFF;

      span {
        margin-left: 40px;

        @media screen and(max-width: 992px) {
          margin-left: 20px;
        }

        @media screen and(max-width: 767px) {
          margin-left: 0;
          margin-right: 20px;
        }
      }
    }

    .body {
      font-weight: normal;
      font-size: 18px;
      line-height: 140.62%;
      letter-spacing: 0.02em;

      color: rgba(255, 255, 255, 0.75);
    }
  }
}

.section-martial-arts {
  background: #000;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background: #000;
    width: 100%;
    height: 52px;
    left: 0;
    top: 100%;
  }

  .martial-arts-list {

  }

  .h-martial-arts {
    font-weight: 900;
    font-size: 42px;
    line-height: 134.77%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #F61193;
    @include span(12);

    @media screen and(max-width: 767px) {
      font-size: 32px;
    }
  }

  .martial-arts-item {
    border-top: 1px solid #FFFFFF;
    padding-top: 60px;
    padding-bottom: 45px;

    @media screen and(max-width: 767px) {
      padding-top: 50px;
    }

    &:after {
      @extend .clearfix;
    }

    .text-info {
      @include span(12 of 12);
      float: left;
    }

    .fighters {
      @include span(12 of 12);
      margin: 0 -15px;

      @media screen and(max-width: 992px) {
        float: left;
      }

      @media screen and(max-width: 767px) {
        @include span(12 of 12);
      }

      &:after {
        @extend .clearfix;
      }


      .photo {
        margin-bottom: 15px;

        img {
          max-width: 100%;
        }
      }

      .name {
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        margin-bottom: 7px;
      }

      .info {
        &:after {
          @extend .clearfix;
        }
      }

      .category {
        float: left;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        color: rgba(255, 255, 255, 0.4);

      }

      .weight {
        float: right;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.4);

      }
    }

    .fighter-item {
      @include span(3 of 12);
      padding: 0 15px;
      margin-bottom: 30px;

      @media screen and(max-width: 992px) {
        @include span(4 of 12);
      }

      @media screen and(max-width: 992px) {
        @include span(6 of 12);
      }
    }


    .text {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      /* or 27px */
      
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.section-fighters {
  padding-top: 64px;

  .fighters-list {
    margin: 0 -15px;

    &:after {
      @extend .clearfix;
    }

  }

  .row {
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &:last-child {
      margin-bottom: 0;
      border: none;
    }

    &:after {
      @extend .clearfix;
    }
  }

  .fighter-item {
    @include span(3 of 12);
    padding: 0 15px;
    margin-bottom: 35px;

    @media screen and(max-width: 992px) {
      @include span(4 of 12);
    }

    @media screen and(max-width: 992px) {
      @include span(12 of 12);
    }

    .photo {
      margin-bottom: 23px;
      text-align: center;

      img {
        max-width: 100%;
      }
    }

    .name {
      font-weight: 900;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.03em;
      color: #171717;
      margin-bottom: 4px;
    }

    .info {
      margin-bottom: 8px;

      &:after {
        @extend .clearfix;
      }
    }

    .category {
      float: left;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.03em;

      color: rgba(0, 0, 0, 0.4);
    }

    .weight {
      float: right;
      font-weight: 900;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.03em;

      color: rgba(0, 0, 0, 0.4);
    }

    .text {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0.02em;
      margin-bottom: 4px;
      color: rgba(23, 23, 23, 0.65);
    }

    .link {
      font-weight: bold;
      font-size: 16px;
      line-height: 200%;
      /* or 32px */
      letter-spacing: 0.03em;
      text-decoration-line: underline;
      text-transform: uppercase;
      position: relative;
      color: rgba(246, 17, 147, 0.8);
      transition: .3s all;

      &:hover {
        color: rgba(246, 17, 147, 1);
      }

      &:after {
        content: '';
        position: absolute;
        left: 100%;
        top: 58%;
        width: 9px;
        height: 14px;
        transform: translateY(-50%);
        background: url(../img/arrow-left.svg);
        margin-left: 6px;
      }
    }
  }
}

.section-text {
  padding-top: 50px;

  .titles-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 55px;
    padding-bottom: 30px;

    &:after {
      @extend .clearfix;
    }
  }

  .title-item {
    @include span(8 of 12);
    @include push(2 of 12);
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &:last-child {
      border: none;
      margin-bottom: 0;
    }

    @media screen and(max-width: 992px) {
      @include span(10 of 12);
      @include push(1 of 12);
    }

    .h {
      font-weight: 900;
      font-size: 36px;
      line-height: 134.77%;
      /* or 49px */
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #D9017A;
      margin-bottom: 10px;
    }

    .text {
      font-size: 16px;
      line-height: 175%;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.75);
      letter-spacing: -0.02em;
    }
  }
}

.section-about {
  padding: 20px 0 30px;

  .instagram-list {
    margin: 0 -15px;
    margin-top: 45px;
    position: relative;

    &:after {
      @extend .clearfix;
    }

    &:before {
      content: '';
      position: absolute;
      background: url(../img/project.svg) no-repeat 50% 50%;
      width: 1440px;
      height: 220px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-44%);
    }
  }

  .instagram-item {
    @include span(3 of 12);
    padding: 0 15px;
    position: relative;
    z-index: 2;

    @media screen and(max-width: 767px) {
      @include span(6 of 12);
      margin-bottom: 20px;
    }

    img {
      max-width: 100%;
    }
  }

  .buttons-wrapp {
    margin-top: 56px;
    text-align: center;

    @media screen and(max-width: 767px) {
     margin-top: 35px;
    }
  }

  .btn {
    margin: 0 15px;

    @media screen and(max-width: 767px) {
      width: 100%;
      margin: 0 0 15px 0;
    }
  }
} 

.section-grid-first {
  padding-top: 60px;
  padding-bottom: 0px;
}

.section-grid-second {
  padding-top: 60px;
  padding-bottom: 0px;
}

.section-grid-third {
  padding-top: 60px;
  padding-bottom: 0px;
}

.grid-main {

  .h-grid {
    font-weight: bold;
    font-size: 36px;
    line-height: 134.77%;
    margin-bottom: 55px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #F61193;

    span {
      font-weight: normal;
      font-size: 16px;
      line-height: 134.77%;
      /* or 22px */
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #FFFFFF;

      &.black {
        color: #333;
      }
    }
  }

  .grid-wrapp {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 1150px;

    &:after {
      @extend .clearfix;
    }
  }

  .row {
    margin: auto;
    margin-bottom: 60px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .quarter-final {
    @include span(4 of 12);
    padding-right: 125px;

    .row {

      .line-vertical {
        position: absolute;
        width: 2px;
        height: 118px;
        background: #F61193;
        top: 50%;
        margin-top: -59px;
        left: 100%;
        margin-left: 62px;
      }

      .line-horizontal {
        position: absolute;
        width: 63px;
        height: 2px;
        background: #F61193;
        top: 50%;
        margin-top: -1px;
        left: 100%;
        margin-left: 62px;
      }
    }
  }

  .semi-final {
    @include span(4 of 12);
    padding-right: 125px;

    .grid-item {
      &:first-child {
        margin-bottom: 180px;
      }
    }

    .row {

      .line-vertical {
        position: absolute;
        width: 2px;
        height: 274px;
        background: #F61193;
        top: 50%;
        margin-top: -137px;
        left: 100%;
        margin-left: 62px;
      }

      .line-horizontal {
        position: absolute;
        width: 63px;
        height: 2px;
        background: #F61193;
        top: 50%;
        margin-top: -1px;
        left: 100%;
        margin-left: 62px;
      }
    }
  }

  .final {
    @include span(4 of 12);
    padding-right: 125px;

    .grid-item {

      .line {
        width: 40px;
      }
    }
  }

  .btn-play {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 42px;
    outline: none;
    cursor: pointer;
    

    img {
      transition: .3s all;
    }

    &:hover img{
      transform: scale(1.1);
    }
  }

  .grid-cup {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 50px;
  }

  .grid-item {
    background: url(../img/bg-cup.png);
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 22px 30px;
    margin-bottom: 24px;
    position: relative;

    .line {
      position: absolute;
      width: 62px;
      height: 2px;
      background: #F61193;
      top: 50%;
      margin-top: -1px;
      left: 100%;
      margin-left: 1px;
    }

    .head {
      margin-bottom: 6px;

      &:after {
        @extend .clearfix;
      }
    }

    .body {

    }

    .name {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.01em;

      color: #FFFFFF;
    }

    .category {
      float: left;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.51);
      vertical-align: bottom;
    }

    .training {
      float: right;
      vertical-align: bottom;
      line-height: 19px;
      font-size: 14px;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
        text-transform: uppercase;

      a {
        color: #F61193;
        transition: .3s all;

        &:hover {
          color: darken(#F61193, 10%);
        }
      }
    }
  }
}

.btn-navigation {
  display: none;
  width: 30px;
  height: 24px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  right: 30px;
  top: 50%;
  margin-top: -12px;

  @media screen and(max-width: 992px) {
    display: block;
  }
}

.btn-navigation span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.btn-navigation span:nth-child(1) {
  top: 0px;
}

.btn-navigation span:nth-child(2) {
  top: 10px;
}

.btn-navigation span:nth-child(3) {
  top: 20px;
}

.btn-navigation.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.btn-navigation.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.btn-navigation.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.grid-scroll {
  display: block;
  width: 100%;
  min-height: .01%;
  overflow-x: auto;
}